@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Header */

header{
    display: flex;
    justify-content: space-around;
    background-color: #ff6900;
    padding: 15px 0;
    box-shadow: 0 0 5px black;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#logo{
    height: 25px;
    vertical-align: middle;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

header a{
    margin: 0 5px;
    color: white;
    text-decoration: none;
}

/* Main */

.container{
    width: 70%; 
    margin: auto;
    margin-top: 100px;
}

.box{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.box .card{
    margin: 0 10px;
    width: calc(100% / 3);
}

.box .card .img-card{
    position: relative;
}

.img-card img{
    width: 100%;
}

.img-card .heart{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 4px 10px;
    font-size: 25px;
    margin-top: 10px;
}

.heart:hover{
    color: red;
}

.img-card .scount{
    position: absolute;
    bottom: 30px;
    background-color: red;
}

.img-card .sostenibilità{
    position: absolute;
    bottom: 30px;
    left: 43px;
    background-color: green;
}

.img-card .sostenibilità-left{
    position: absolute;
    bottom: 30px;
    background-color: green;
}

.white-font{
    color: white;
    padding: 4px 8px;
    font-size: 11px;
}

.small-font{
    font-size: 12px;
}

.card .price-1{
    color: red;
    font-weight: bold;
}

.card .price-2{
    text-decoration: line-through;
}

.img-b{
    display: none;
}

.img-card:hover .img-a{
    display: none;
}

.img-card:hover .img-b{
    display: block;
}

/* Footer */

footer{
  background-color: #1a1a1a;
  padding: 20px 0;  
}

.container-footer{
    display: flex;
    width: 70%; 
    justify-content: space-between;
    margin: auto;
}

footer h5, h6, a, .fa-brands{
    color: white;
}

footer a{
    font-size: 11px;
    text-decoration: none;
    margin-right: 5px;
}

footer h5, h6{
    margin-bottom: 8px;
}

footer .fa-brands{
    padding: 0 2px;
}